# direnv configuration for Noctra
# If you use direnv, this will automatically load DuckDB variables
# Install direnv: https://direnv.net/

# DuckDB precompiled library
export DUCKDB_LIB_DIR=/opt/duckdb
export DUCKDB_INCLUDE_DIR=/opt/duckdb
export LD_LIBRARY_PATH=/opt/duckdb:$LD_LIBRARY_PATH
